<html>
<head>
	<title>Booking</title>
</head>
<body ng-controller="MenuCtrl">
	
	<div class="container">
		
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card horizontal indigo lighten-3">
          <div class="card-image">
            <a href="#/booking"><i class="medium material-icons white-text text-lighten-1">add</i></a>
          </div>
          <div class="card-stacked">
            <div class="card-action center-align">
              <a href="#/booking" class="card-title white-text text-lighten-1">Create New Intimation</a>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card horizontal indigo lighten-3">
          <div class="card-image">
            <a href="#/cancel"><i class="medium material-icons white-text text-lighten-1">assignment</i></a>
          </div>
          <div class="card-stacked">
            <div class="card-action center-align">
              <a href="#/cancel" class="card-title white-text text-lighten-1">My Cases</a>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card horizontal indigo lighten-3">
          <div class="card-image">
            <a href="#"><i class="medium material-icons white-text text-lighten-1">loop</i></a>
          </div>
          <div class="card-stacked">
            <div class="card-action center-align">
              <a href="#" class="card-title white-text text-lighten-1">Sync.Master Data</a>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card horizontal indigo lighten-3">
          <div class="card-image">
            <a href="#/profile"><i class="medium material-icons white-text text-lighten-1">supervisor_account</i></a>
          </div>
          <div class="card-stacked">
            <div class="card-action center-align">
              <a href="#/profile" class="card-title white-text text-lighten-1">My Profile</a>
            </div>
          </div>
        </div>
      </div> 
    </div>   

      <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card horizontal indigo lighten-3">
          <div class="card-image">
            <a href="#"><i class="medium material-icons white-text text-lighten-1">feedback</i></a>
          </div>
          <div class="card-stacked">
            <div class="card-action center-align">
              <a href="#" class="card-title white-text text-lighten-1">Uploading</a>
            </div>
          </div>
        </div>
      </div> 
    </div> 
    
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card horizontal indigo lighten-3">
          <div class="card-image">
            <a style="cursor:pointer;" ng-click="logout()"><i class="medium material-icons white-text text-lighten-1">lock_outline</i></a>
          </div>
          <div class="card-stacked">
            <div class="card-action center-align">
              <a style="cursor:pointer;" ng-click="logout()" class="card-title white-text text-lighten-1">Logout</a>
            </div>
          </div>
        </div>
      </div> 
    </div>
    
	</div>
</body>
</html>